@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f1f5f9;
    height: 100%;
}

#button_discover_lp {
    background: linear-gradient(90deg, #f97316 0%, #fcd34d 108.08%);
    border: 2px solid #ffffff;
    box-shadow: 0px 6px 12px rgba(171, 190, 209, 0.3);
    border-radius: 49px;
}
